@charset "utf-8";

a {text-decoration: none;color: inherit;}
*,*::before,*::after {box-sizing: border-box;}

header {height: 50px;line-height: 50px;}
header h2 {text-align: center;padding: 5px 0;}
header h2 img {width:120px;height: 47px; }
.hamburger{  background:none; position:absolute;top:0;left:0;line-height:45px;  padding:10px 15px 0px 15px;color:#000;   border:0;font-size:25px; font-weight:bold;cursor:pointer; outline:none;}

.menu {width: 200px;height: 100%;font-size: .8em;font-weight: bold;background: #131313;position: fixed;top: 0;left: -200px;z-index: 99999;}
.menu>ul {padding-top: 50px;}
.menu>ul>li {border-bottom: 1px solid #1d1f20;position: relative;text-indent: 20px;}
.menu ul li img {position: absolute;right: 10px;top: 10px;}
.menu ul li:hover {background: #181818;border-bottom: 1px solid #1d1f20;}
.menu ul li a {color: #fff;}
.menu_sub {display: none;}
.menu_sub li {text-align: left;text-indent: 40px;}

.pc-menu {display: none;}

.cross {background: none;position: absolute;right: 3px;top: 10px;color: #fff;border: 0;font-size: 3.5em;line-height: 45px;cursor: pointer;outline: none;}

#banner {position: relative;margin-top: 3px;}
#banner img {width: 100%;vertical-align: bottom;}


.theme {background: url(../img/theme-background.jpg) no-repeat ;width: 100%;background-size: cover;}
.theme h2 {text-align: center;padding: 30px 0;color: #ddd;}
.theme-wrapper {width: 90%;margin: 0 auto;display: flex;justify-content: space-around;flex-wrap: wrap;}
.box-wrapper {width: 45%;}
.theme-box img {width: 100%;}
.room-name {color: #fff;padding: 20px 0;font-size: 18px;}


/* 테마박스 호버 */
.theme-box {position: relative;}
.theme-box:hover .theme-hover{opacity: 1;}
.theme-hover {position: absolute;width: 100%;height: 100%;top: 0;left: 0;background: rgba(0, 0, 0, .7);opacity: 0;transition: all .4s;}
.hover-text {color: #ddd;position: absolute;width: 100%;top: 35%;text-align: center;line-height: 35px;}
.hover-button {position: absolute;bottom: 0;left: 0;text-align: center;color: #ddd;background: #890000;width: 100%;height: 40px;line-height: 40px;cursor: pointer;}

.location {background: url(../img/theme-background2.jpg) no-repeat;width: 100%;background-size: cover;}
.location-wrapper {width: 95%;margin: 0 auto;padding: 50px;display: flex;justify-content: space-between}
.location-box {width: 45%;}
.location-box img {width: 100%;}
.location-name h2 {color: orange;border-bottom: 2px solid orange;}
.location-name p {color: orange;padding: 10px 0;font-size: 12px;}

footer {background: #353535;padding: 20px;}
.footer-wrapper img {display: block;}
.footer-box {margin-top: 30px;}
.footer-box h2 {color: #fff;}
.footer-line {width: 100px;height: 3px;background: #fff;margin: 30px 0;}
.footer-name p {color: #ddd;font-size: 14px;}
.footer-name p:last-child {margin-top: 30px;}
.footer-name ul {float: left;width: 40%;margin-top: 30px;margin-right: 30px;}
.footer-name ul li {border: 1px solid gray;text-align: center;color: #ddd;font-size: 14px;}
.footer-name ul li:first-child {background: rgb(233, 95, 36);}


@media screen and (min-width:800px){
    header {display: flex;}
    header h2 {text-align: left;padding-left: 15px;}
    .hamburger {display: none;}
    .pc-menu {display:block;width: 70%;margin: 0 auto;z-index: 9;}
    .pc-menu>ul>li {float: left;width: 16.66%;text-align: center;}
    .pc-menu>ul>li>a {font-size: 19px;font-weight: bold;}
    .pc-menu_sub {background: #fff;display: none;}
    .pc-menu_sub li a {font-size: 17px;}
    .pc-menu_sub li:hover {background: gray;color: aqua;}

    .theme h2 {font-size: 50px;padding: 50px 0;}
    .box-wrapper {width: 17%;}
    
    .location-name p {font-size: 20px;}

    .footer-box {float: left;width: 50%;}
    
}